@media screen and (min-width : 768px) {

  /***********************************************************
                           MAIN WRAPPER
  ***********************************************************/
  .main_wrapper {
  }





  /***********************************************************
                             HEADER
  ***********************************************************/
  .main_header_wrapper {
    max-width: 1000px;
  }





  /***********************************************************
                             MAIN CONTENT
  ***********************************************************/
  .main_content_wrapper {
    max-width: 1000px;
  }



  /***********************************************************
                             LEFT SIDEBAR
  ***********************************************************/
  .left_sidebar {
    display: $inline_block;
    width: 200px;
    margin-right: 50px;
  }

  /***********************************************************
                             CONTENT
  ***********************************************************/
  .content {
    display: $inline_block;
    width: 500px;
  }

  /***********************************************************
                             RIGHT SIDEBAR
  ***********************************************************/
  .right_sidebar {
    display: $inline_block;
    width: 200px;
    margin-left: 50px;
  }




  /***********************************************************
                             FOOTER
  ***********************************************************/
  .main_footer_wrapper {
    max-width: 1000px;
  }

}