// COLORS
$pri_color          :   #2281f7;
$sec_color          :   #64a6f9;
$black_111          :   #111111; // For bold big headings
$black_333          :   #333333; // For paragraphs content and form labels
$black_777          :   #777777; // For paragraph headings
$grays_ccc          :   #cccccc; // For placeholder text and text field and textarea borders
$grays_aaa          :   #aaaaaa; // For all gray small text
$grays_ddd          :   #dddddd;
$white_fff          :   #ffffff;

// FONT SIZES
$font_2rem          :   2rem;
$font_1rem          :   1rem;
$font_0_875rem      :   0.875rem;


// DISPLAYS & VISIBILITIES
$block              :   block;
$inline_block       :   inline-block;
$none               :   none;


// FLOATS & ALIGNS
$left               :   left;
$right              :   right;
$center             :   center;

